
@{
    Layout = null;
    ViewBag.Title = "A Simple Voting System";

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/svg" href="~/Content/icons/voting-icon.svg" />
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <header>
        <p>Car Enthusiast Website</p>
        <ul>
            <li>@Html.ActionLink("List of Cars", "Lists", "Cars", new { area = "" }, new { @class = "" })</li>
            <li>|</li>
            <li>@Html.ActionLink("Add a Car", "Details", "Cars", new { area = "" }, new { @class = "" })</li>
        </ul>
    </header>
</body>
</html>
